extends layout.pug

block content
	h1 Hello #{name}
	for image in images
		picture
			source(srcSet=image.webp.srcSet, type='image/webp')
			img(
				src=image.image.src,
				srcSet=image.image.srcSet,
				width=image.image.width,
				height=image.image.height,
				alt="sky"
			)
	ul
		li one!
		li two
