doctype html
html(lang='en')
	head
		title=title ? `Mahmoud Ashraf - ${title}` : meta.defaultTitle
		meta(name="description", content=description || meta.defaultDescription)
		meta(charSet="utf-8")

		for style in styles 
			link(rel='stylesheet', href=style)

	body
		block content

		for script in scripts
			script(src=script)
