doctype html
html(lang='en')
	head
		title=title ? `Mahmoud Ashraf - ${title}` : meta.defaultTitle
		meta(name="description", content=description || meta.defaultDescription)
		meta(charSet="utf-8")
		meta(httpEquiv="x-ua-compatible", content="ie=edge")
		meta(
			name="viewport",
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		)
		meta(name="theme-color", content="#1a202c")
		link(rel="apple-touch-icon", href="icon_1024x1024.png")
		link(rel="manifest", href="manifest.json")


		for style in styles 
			link(rel='stylesheet', href=style)

	body(class=cookies.theme === 'dark' ? 'dark-theme' : '')
		button.theme-toggle Toggle Theme 
		block content

		for script in scripts
			script(src=script)
