doctype xml
rss(version='2.0' xmlns:atom='https://www.w3.org/2005/Atom')
	channel
		title Mahmoud Ashraf personal blog
		description The Latest Updates from Mahmoud Ashraf. Throw this in your RSS feeder for instant updates!
		language en-us
		link https://mahmoudashraf.dev/rss.xml
		atom:link(href='https://mahmoudashraf.dev/rss.xml' rel='self' type='application/rss+xml')

		for post in posts
			item
				title= post.title
				link <a href="https://mahmoudashraf.dev/blog/#{post.slug}" rel="nofollow">https://mahmoudashraf.dev/blog/#{post.slug}</a>
				description
					|<![CDATA[
					h2=post.title
					small
						a(href=`https://mahmoudashraf.dev/blog/${post.slug}`) link
						| !{post.content}
					|]]>
				pubDate= new Date(post.date).toUTCString()
				guid(isPermaLink='false') <a href="https://mahmoudashraf.dev/blog/#{post.slug}" rel="nofollow">https://mahmoudashraf.dev/blog/#{post.slug}</a>
