extends ../layout.pug

	
block links
	for theme in codeTheme
		if theme.name === 'light-theme' && cookies.theme === 'light'
			link(rel='stylesheet', title=theme.name, href=theme.href)
		else if theme.name === 'dark-theme' && cookies.theme === 'dark'
			link(rel='stylesheet', title=theme.name, href=theme.href)
		else if !cookies.theme && theme.name === 'dark-theme'
			link(rel='stylesheet', title=theme.name, href=theme.href)
		else 
			link(rel='stylesheet', title=theme.name, href=theme.href, disabled)
		

block content
	- const content = 
	.content
		h1=meta.title
		| !{md}
